<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE3D14eUZlkLK9Kb9lPJ5-y0h8aihoqgY</string>
	<key>GCM_SENDER_ID</key>
	<string>752974853469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skyforge.moment</string>
	<key>PROJECT_ID</key>
	<string>fir-version-2b0c8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-version-2b0c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752974853469:ios:ec32b13203a7755aaf64b4</string>
</dict>
</plist>